<app-nav></app-nav>

<h3>Login</h3>



    <!-- <div class="col-12 centrado "> -->
 <div class="col-12 ">
            <!-- [formGroup]="loginForm" (ngSubmit)="login()"-->
        <form  class="was-validated" [formGroup]="angForm" (ngSubmit)="login()" >
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" formControlName="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" formControlName="password" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" [disabled]='!angForm.valid'>
            </div>
            <div class="form-group">
                <a href="#" class="ForgetPwd">Forget Password?</a>
            </div>
        </form>
</div>


   <!--  </div> -->
