
<app-nav></app-nav>




  <div class="card" >

      <div class="card-body" >
          <img width="100px" height="100px" src="../../../assets/512/person.png" alt="...">
        <h5 class="card-title"><b>Usuario</b></h5>
        <!-- {{User.nombre}} -->

        <p class="card-text"><b>Id: </b> {{User.id}}</p>
        <p class="card-text"><b>Nombre: </b> {{User.name}}</p>
        <p class="card-text"><b>Apellido: </b> {{User.last}}</p>

        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>

