<app-nav></app-nav>


<h1>Bienvenido </h1>
<h2>{{User}}</h2>


<div class="alert alert-success alert-dismissible fade show" role="alert">session iniciada
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <div class="alert alert-success" role="alert" *ngIf="message==true"> session iniciada</div>
 -->
<!-- <ng-template class="alert alert-success alert-dismissible fade show" role="alert"  [ngIf]="message==true"><div>Content to render when condition is
  true.</div></ng-template> -->
