


<!-- <h2>{{ title }}</h2> -->


<!--
 <div
 class="container text-center mvh-100 d-flex flex-column justify-content-center"
 >
 <app-nav></app-nav>


 <div class="p-1"></div>

 <router-outlet></router-outlet>



  <div class="row align-items-center py-3">
   <div class="col-md-6">
     <img
       class="img-fluid"
       alt="Angular Logo"
       src="../assets/angular.svg"
     />
   </div>
   <div class="col-md-6">
     <img
       class="img-fluid mt-4"
       src="../assets/bootstrap-stack.png"
     />
   </div>
   <div class="col-12 py-3">
     <div class="row">
       <div class="col-sm-6">
         <div class="dropdown">
           <button
             class="btn btn-secondary dropdown-toggle"
             type="button"
             id="dropdownMenuButton"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
           >
             Dropdown
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <button
           class="btn btn-outline-dark"
           data-toggle="modal"
           data-target="#myModal"
         >
           Modal
         </button>
       </div>
     </div>
   </div>
 </div>
 <div class="modal" tabindex="-1" role="dialog" id="myModal">
   <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content flex-grow-1">
       <div class="modal-header">
         <h5 class="modal-title">Hello Modal</h5>
         <button
           type="button"
           class="close"
           data-dismiss="modal"
           aria-label="Close"
         >
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <p class="lead">My modal works!</p>
         <p>
           This is a simple working Angular 7 app that utilizes Bootstrap 4.
           This modal is an example of one of the many Bootstrap components.
         </p>
       </div>
       <div class="modal-footer">
         <button
           type="button"
           data-dismiss="modal"
           class="mx-auto btn btn-secondary"
         >
           Close
         </button>
       </div>
     </div>
   </div>
 </div>
 </div>

 <app-slider></app-slider>

 </div>
-->
<!-- session iniciada -->
<!-- <nav id="nav" class="navbar navbar-expand-md navbar-light bg-light p-1" [ngSwitch]="session">


  <div *ngSwitchCase="'true'">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div c>
      <a class="navbar-brand" href="/main">Main</a>
    </div>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{{this.nav[0]}}">{{this.nav[0]}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{this.nav[1]}}">{{this.nav[1]}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>


  <div *ngSwitchCase="'false'">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="/main">Main2</a>
  </div>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/login">{{this.nav[0]}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">{{this.nav[1]}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->
<!-- no tiene session -->

<!-- <div class="p-5"></div>

  <button (click)="click1()">prueba</button>

  <div class="p-5"></div>
<div ></div>
  <div>
    {{nav | json }}
  </div>
 -->
